{{! Genre Results Page}}

{{> header}}

<h1>{{genreName}}</h1>
<div>
    {{#each genreAnimeList}}
        <img src="{{this.images.jpg.image_url}}" alt="{{this.title_english}}" width="150">
        <p>{{this.title_english}}</p>
    {{/each}}
</div>

{{> footer}}