{{!Home Page}}

{{> header}}
<main>
  <section class="homepage_hero">
    <h1>Discover the World of Anime</h1>
  </section>
  <section class="sub-headline">
    <p>Explore top trending shows or search </p>
  </section>
  <section class="top-trending">
    <h2>Top Trending Shows</h2>
    <div class="top-trending_card"></div>
    <ul>
      {{#each topFiveData}}
        <li>
          <img src="{{this.images.jpg.image_url}}" alt="{{this.title_english}}" width="150">
          <p>{{this.title_english}}</p>
        </li>
      {{/each}}
    </ul>
  </section>
  <section class="Search"></section>
</main>

{{> footer}}