:root {
  --black: #000000;
  --white: #ffffff;
  --pastel-gray-azure: #b3c7d0;
  --light-azure: #d1dbe2;
  --light-gray: #d9d9d9;
  --font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 18px;
}

header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin-right: auto;
}

.site-logo {
  text-align: center;
  color: var(--white);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

a {
  color: var(--white);
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--light-gray);
}

.content{
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

h1 {
  margin: 0;
}

.homepage_hero {
  background-image: url(images/anime-japan.jpg);
  background-position: center;
   max-width: 1920px;
  height: 400px;
}

.top-trending_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.top-trending_card{
  align-items: center;
  margin: 20px;
  flex: 0 0 auto;
}

.genre-links a{
  color: black;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px 10px 0;
}

.genre-links{
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

main,
main form {
  border-radius: 4px;
}


button.btn {
  border: var(--text-color);
  border-radius: 4px;
  background-color: var(--secondary-light);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
}
button.btn-text {
  border: none;
  background-color: transparent;
  color: var(--secondary-light);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--secondary);
}
button.btn-text:hover,
button.btn-text:focus {
  color: var(--secondary);
}



.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

footer{
  background-color: var(--black);
  padding: 18px;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
